{% extends 'myadmin/public/base.html' %}

{% block title %}
<title>后台会员编辑</title>
{% endblock %}

{% block header %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 商品分类修改 </div>
                <!-- <p class="page-header-description">Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件。</p> -->
            </div>
            <div class="am-u-lg-3 tpl-index-settings-button">
                <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
            </div>
        </div>

    </div>
{% endblock %}


{% block con %}
<link href="/static/myadmin/css/bootstrap-fileinput.css" rel="stylesheet">
<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-body am-fr">

                <form action="{% url 'myadmin_types_update' %}?uid={{ uinfo.id }}" method="post" enctype="multipart/form-data" class="am-form tpl-form-line-form" id="uploadForm" >
                    {% csrf_token %}

                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            商品分类名
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" name="name" value="{{ uinfo.name }}" required minlength="1" maxlength="20" class="tpl-form-input"  placeholder="请输入分类名">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">分类图片 </label>
                        
                        <div class="am-u-sm-9 fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                            <div class="tpl-form-file-img fileinput-new thumbnail" >
                                <img id='picImg' src="{{ uinfo.pics }}" width="100">
                            </div>
                            <br>
                          <!--   <div class="am-form-group am-form-file">
                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                <i class="am-icon-cloud-upload"></i> 添加头像</button>
                                <input id="doc-form-file" type="file" name="pic" id="picID" accept="image/gif,image/jpeg,image/x-png">
                            </div> -->
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                
                            </div>
                            <div>
                                <span class="btn btn-primary btn-file">
                                   <span class="fileinput-new am-btn am-btn-danger am-btn-sm">选择分类图片</span>
                                   <span class="fileinput-exists am-btn am-btn-danger am-btn-sm">换一张</span>
                                   <input type="file" name="pic" id="picID" accept="image/gif,image/jpeg,image/x-png"/>
                                </span>
                                <a href="javascript:;" class=" fileinput-exists am-btn am-btn-danger am-btn-sm" data-dismiss="fileinput" style="margin-top: 5px">移除</a>
                            </div>
                       </div>
                   </div>                   

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button  class="am-btn am-btn-primary tpl-btn-bg-color-success ">修改</button></div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="/static/myadmin/js/bootstrap-fileinput.js"></script>
{% endblock%}
