{% extends 'myadmin/public/base.html' %}

{% block title %}
<title>订单详情</title>

{% endblock %}

{% block header %}
    <div class="container-fluid am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                <div class="page-header-heading"><span class="am-icon-cart-plus sidebar-nav-link-logo"></span> 订单详情 </div>
                <!-- <p class="page-header-description">Amaze UI 含近 20 个 CSS 组件、20 余 JS 组件，更有多个包含不同主题的 Web 组件。</p> -->
            </div>
            <div class="am-u-lg-3 tpl-index-settings-button">
                <button type="button" class="page-header-button"><span class="am-icon-paint-brush"></span> 设置</button>
            </div>
        </div>

    </div>
{% endblock %}


{% block con %}
<div class="row">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-body am-fr">

                <form class="am-form tpl-form-line-form" id="uploadForm" >

                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            订单ID
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" value="{{ oid }}" name="orderid"  required minlength="2" maxlength="20" class="tpl-form-input">
                        </div>
                    </div>                

                    {% for i in oinfo %}
                    

                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            商品名称
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" value="{{ i.gid.title }}" name="title"  required class="tpl-form-input" >
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">商品图片 </label>
                        
                        <div class="am-u-sm-9 fileinput fileinput-new" data-provides="fileinput" id="exampleInputUpload">
                            <div class="tpl-form-file-img fileinput-new thumbnail" >
                                <img id='picImg' src="{{ i.gid.pics }}" width="100">
                            </div>
                            <br>
                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                
                            </div>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">
                            商品购买数量
                        </label>
                        <div class="am-u-sm-9">
                            <input type="text" value="{{ i.num }}" name="num"  required class="tpl-form-input" >
                        </div>
                    </div>

                    {% endfor %}
                  
                </form>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <button  class="am-btn am-btn-primary tpl-btn-bg-color-success "><a style="color:#fff" href="{% url 'myadmin_order_list' %}">返回订单列表</a></button></div>
                </div>                  
            </div>
        </div>
    </div>
</div>
<script src="/static/myadmin/js/bootstrap-fileinput.js"></script>
{% endblock%}
